/* ----- General ----- */

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #f6f6f6;  
}

h2{
    font-weight: bold;
    font-size: 30px;
    color : white;  
}



/* ----- Header ----- */

#sectionHeader{
    padding-bottom: 80px;   
}

header{
    position: fixed;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: space-between;
    width:100%;
    height:80px;
    background: rgba(0,0,0,0.9);  
}

#logoBicloo{
    height: 100%;
    width:200px;
    margin-left: 50px;
}

ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

li{
    margin: 15px 10px 0 10px;
}

.navMenu a{
    text-decoration: none;
    color: white; 
    font-size: 1.3vw;
    font-family: Arial;
    font-weight: bold;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


.navMenu  a:hover{
    color: rgb(26,154,229);   
}


/* Burger Menu */
#burgerMenu{
    display: none;
    position: fixed;
    right:5%;
    top:3%;
    cursor: pointer;
    z-index: 1001;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
        transition: 0.4s;
}

/* Rotate the first bar */
.bar1.change{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: rgb(26,154,229);
}

/* Fade out the second bar */
.bar2.change{
    opacity: 0;
}

/* Rotate the third bar */
.bar3.change{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: rgb(26,154,229);
}

#burgerNav{
    display: none;
    position: fixed;
    width: 100%;
    top:80px;
    z-index: 1001;
    background: rgba(0,0,0,0.9);
    -webkit-transition: 0.4s;
    transition: 0.4s;   
}

#burgerNav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 0;
}

#burgerNav a{
    font-size: 2.5vw;
}



/* ----- Slider ----- */

.carousel-container{
    position:relative;
    width: 100%;
}

.carousel-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;       
}

.carousel-slide img{
    width: 100%;
    height: 100%;
}

.carousel-slide img:hover{
    cursor: pointer;
}

#js-newText{
    position: absolute;
    bottom:40%;
    left:5%;
    background: rgba(0,0,0,0.7);
    padding:30px;
    border-radius: 10px;
    color: white;
    font-size : 1.5vw;
    font-weight: Bold;
    text-align: center;
    line-height: normal;
}


/* Buttons */
#slideNav{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin:-4px 0 0 0;
}

.carouselBtnPlayPause{
    font-size: 15px;
    color: black;
    padding: 5px;
    cursor: pointer; 
    text-shadow: 0 1px 1px grey;
    opacity: 0.9;  
}

#pauseBtn{
    font-size: 20px;
    border: none;
    background: none ;
    width:30px;
    height: 30px;
    padding: 0;
}



/* ----- Map ----- */

#separator{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin : 10px 0 0 0 ;
    width : 100%;
    height:70px;
    background: rgba(0,0,0,0.9)
}

.fa{
    font-size: 25px;
    color: white;
    margin : 0 20px 0 50px;  
}

#biclooMap{
    margin:auto;
    height:600px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.7);
            box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    border: 1px solid black;
}



/* ----- Information Pannel ----- */

#infoStation{
    margin:50px auto;
    padding-bottom: 10px;
    min-height: 600px;
    background: white;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.7);
            box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    border: 1px solid grey;
    border-radius: 8px;
}

.station-infos{
    text-align: center;
}

.infoColor{
    color:white;
    padding: 7px;
    border-radius : 4px;
}

input{
    width:100%;
}

#bothBtns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
}

#reservationBtn, #signBtn{
    display: none;
    margin: 10px 0 20px 0;
    width:45%;
    color: white; 
    background: rgba(26,154,229,0.8);
    padding: 10px 10px 10px 10px;
    border: 1px solid #1a9ae5;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px black;
            box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#reservationBtn:hover, #signBtn:hover{
    color: #1a9ae5; 
    background: rgba(255,255,255,0.9) 
}

.cancelBtn, #eraseBtn{
    display:none;
    margin: 10px 0 20px 0;
    width:45%;
    color: white; 
    background: rgba(128,128,128,0.8);
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px black;
            box-shadow: 0 2px 4px rgba(0,0,0,0.7);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.cancelBtn:hover, #eraseBtn:hover{
    color: rgba(26,154,229,1);  
    background: rgba(0,0,0,0.7)
}

.footerBtn{
    max-width: 250px;
}

#thanksText{
    display: none;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#canvas{
    margin:auto;
    display: none;
    border:1px black solid;
    border-radius: 3px;
    -ms-touch-action: none; /* Provide scrolling when using touchpad */
        touch-action: none;
}



/* ----- My Reservation ----- */

footer{
    width : 100%;
    height: auto;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.9);
}

#footerTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}

#resaInfo{
    color: white;
    margin : 0 20px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#resaTimerText, #resaTimer{
    font-weight: bold;
}

#resaTimer{
    color:rgb(26,154,229);
}

p{
    line-height: 15px;
}


/* Modal Box Legal Notice */

#legalNotice{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
    margin-right: 30px;
    font-size : 15px;
    color: white;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#legalNotice:hover{
    cursor: pointer;
    color: rgb(26,154,229)
}

.modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;  
}

.modal-content p{
    word-break: break-all;
    line-height: 25px;
    font-size: 15px;
}

.close {
    color: black;
    opacity : 1 !important;
    position: absolute;
    right: 15px;
    top:5px;
    font-size: 50px;
    font-weight: bold;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    color: rgb(26,154,229);
    cursor: pointer;
}



/* ----- Media Queries ----- */

/* Desktop computers */
@media all and (min-width:992px){
 
    #burgerNav{
    display: none !important; /* needed to close the menu when resizing the window */
    }
    
    #resaTimerText, #resaTimer{
    font-size: 25px;
    }
}


/* Tablets */
@media all and (max-width:991px){
       
    #menuDesktop{
        display: none;  
    }
    
    #burgerMenu{
        display: initial;
    }
    
    #separator{
        margin : 10px 0 50px 0 ;
    }
    
    #infoStation{
        height : auto;
        min-height: 0px;
    }  
}
    

/* Mobiles */
@media all and (max-width:768px){
	
    #burgerNav ul{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    #js-newText{
        left:25%;
        bottom:30%;
        width:50%;
        font-size : 3vw;
        padding:15px;
    }
    
    #biclooMap,#infoStation{
        margin-right: 30px ;
        margin-left : 30px ;
    }
      
    .footerBtn{
    width: 95%;
    max-width: 95%;
    }
    
    .modal-content {
        padding-top: 60px;
    }  
}







